@import url("/css/variaveis.css");

.rodape {
    background-color: var(--cor-padrao);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo-rodape {
    font-size: 15px;
    color: var(--cor-texto);
}

.redes-sociais {
    margin: 3em;
}