.rodape {
    background-color: #00303f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo-rodape {
    font-size: 15px;
    color: #f2faae;
}

.redes-sociais {
    margin: 3em;
}